/* styles.css */
.navbar {
    background-color: #343a40; /* Set background color of navbar */
}

.navbar .nav-link {
    color: #ffffff; /* Set text color of navbar links */
}

.navbar .nav-link:hover {
    color: #ffffff; /* Set text color of navbar links on hover */
}
.rounded-circle {
    border-radius: 50%; /* Set border radius to 50% to create a circle */
}
